.carousel {
  position: relative;
  width: 400px; /* Adjust width as needed */
  margin-left: 40px;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel img {
  width: 100%;
  height: auto;
}

.carousel-navigation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}

.carousel-prev,
.carousel-next {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
}

.carousel-prev {
  margin-right: 10px;
}

.carousel-next {
  margin-left: 10px;
}
